<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <maxIterations>10000</maxIterations>
    <colors>11</colors>
    <populationSize>100</populationSize>
    <parentsSize>20</parentsSize>
    <crossProbability>0.7</crossProbability>
    <mutationProbability>0.006</mutationProbability>
    <isDoubleSlicedGenom>true</isDoubleSlicedGenom>
    <isRandomCrossPosition>false</isRandomCrossPosition>
    <plotGraph>true</plotGraph>
    <refreshNotificationTime>1000</refreshNotificationTime>
    <graphFileName>anna.col</graphFileName>
    <maxPlotVars>1000</maxPlotVars>
</settings>
